[submodule "PerceptualSimilarity"]
	path = PerceptualSimilarity
	url = https://github.com/richzhang/PerceptualSimilarity
[submodule "pytorch-ssim"]
	path = pytorch-ssim
	url = git@github.com:Po-Hsun-Su/pytorch-ssim.git
